#map-container {
  height: 600px;
  width: 100%;
}

.googlemaps {
  height: 100%;
  width: 100%;
}

.undoButton:hover {
  cursor: pointer;
}

.undoButton {
  position: relative;
  bottom: 35px;
  left: 100px;
  width: 100px;
  height: 30px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

#search {
  margin-right: 50px;
  background-color: white;
  opacity: .8;
  padding-left: 10px;
  padding-right: 10px;
}
